body {
    background-color: rgba(0, 0, 0, 1.0);
    width: 100%;
    background-image: url(http://static.tumblr.com/7b37633d29d9aaca9828b5132273cdf1/sy59fz4/1linmyvvt/tumblr_static_4y2skv97m24ogs84wc40sccso.jpg);
    max-width: 100%;
    height: 666px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    
}

h1,h3,h4,h5 {
    font-family: 'Shrikhand', cursive;
}

#startMenu {
    color: rgba(0, 0, 0, .7);
    font-size: 100px;
    margin-top:100px;
}

#startBtn {
    color: whitesmoke;
    background-color: rgba(0, 0, 0, .5);
}
#startBtn:visited {
    color: whitesmoke;
    background-color: black;
}
#startBtn:hover {
    color: whitesmoke;
    background-color: black;
}
#startBtn:active{
    color: whitesmoke;
    background-color: rgba(0, 0, 0, .5);
}

.jumbotron{
    color:whitesmoke;
    background-color: rgba(25, 25, 25, 0.8);
    
}


.input-field input:focus + label {
    color: rgb(255, 255, 255) !important;
  }

.row .input-field input:focus {
    border-bottom: 1px solid rgb(255, 255, 255) !important;
    box-shadow: 0 1px 0 0 rgb(255, 255, 255) !important;
}
  

#widget{
    display:flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    flex-flow: nowrap;
    flex-direction: column;
    
}


/* #startMenu {
    font-family: "Shrikhand", cursive;
    color: rgb(46, 44, 44);
    background-color: rgba(255, 255, 255, 0.);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    
}


h1,h3,h4,h5 {
    font-family: 'Shrikhand', cursive;

}

#startDiv{
    border-radius: 50%;
    
}

.jumbotron{
    
}

#widget{
    display:flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    flex-flow: nowrap;
    flex-direction: column;
    
} */

